@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.logo .cc {
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left ul {
    list-style: none;
}

.header-left ul a {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    margin: 6px;
    cursor: pointer;
}

.fa-bars {
    font-size: 25px;
    cursor: pointer;
    display: none !important;
}

.header-left a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin: 40px;
}

.header-left a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #000000;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.header-left a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}




.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-right .nnn:hover {
    background-color: #b7d2fa35;
}

.header-right .nnn {
    height: 30px;
    width: 100px;
    background-color: #e7e1e1e2;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding: 0px 6px;
    transition: .8s;
}

.header-right .nnn {
    font-size: 15px;
    color: #000;
    margin: 10px;
}

.header-right i {
    font-size: 15px;
    color: #000;
    margin: 6px;
}

.header-right .bb:hover {
    background-color: #004cff;
}

.header-right .bb {
    height: 30px;
    width: 50px;
    background-color: #000;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: .8s;
    cursor: pointer;
}




.text-wrap {
    padding: 5%;
}

.text-wrap h1 {
    font-size: 80px;
    font-weight: 500;
    color: #000;
    line-height: 7rem;
}

.text-wrap span {
    font-size: 80px;
    font-weight: 300;
    color: #000;
}

.form-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #666;
}

.form-wrap form {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.form-wrap form input {
    height: 70px;
    width: 100%;
    background-color: #e7e1e1e2;
    border-radius: 50px;
    border: none !important;
    font-size: 18px;
    font-weight: 500;
    color: #000000 !important;
    padding: 0px 26px;
    outline: none;
}

.form-wrap form button:hover {
    background-color: #004cff;
}

.form-wrap form button {
    height: 70px;
    width: 150px;
    background-color: #000000e2;
    border-radius: 50px;
    border: none !important;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    transition: .8s;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.form-wrap .text-t {
    font-size: 14px;
    font-weight: 500;
    color: #666;
    padding: 40px;
}






.card-img {
    padding: 5%;
}

.card-img h2 {
    font-size: 22px;
    font-weight: 400;
    color: #666;
    padding-bottom: 20px;
}

.card-img span {
    font-size: 22px;
    font-weight: 500;
    color: #000000;
}




.system {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #666;
}

.img-wrap {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.img-wrap .singel-img {
    width: 100%;
    height: 450px;
    margin-bottom: 10px;
    object-fit: cover;
    position: relative;
}

.singel-img .bigimg {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
}

.smimg {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #c7bbbb;
}

.smimg2 {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    left: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #c7bbbb;
}

/* 
.img-wrap img {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 30px;
} */



.div-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-wrap .ss {
    height: 26px;
    width: 70px;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    background-color: #929292;
    border-radius: 50px;
    text-align: center;
    margin: 5px;
    padding: 0;
}

.text-view h3 {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 6px;
}

.text-view p {
    font-size: 14px;
    font-weight: 400;
    color: #666;
}





.album {
    padding: 5%;
    position: relative;
    /* border-bottom: 1.5px solid #666; */
}

.album::after {
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #666;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.album-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    margin-bottom: 40px;
}

.addtext h2 {
    font-size: 36px;
    font-weight: 400;
    color: #666;
}

.addtext h3 {
    font-size: 40px;
    font-weight: 400;
    color: #000000;
}

.shortimg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgshort img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    object-fit: cover;
    position: relative;
    border: 4px solid #fff;
    bottom: 0;
    transition: .3s;
}

.imgshort img:hover {
    bottom: 3px;
}

.imgshort img:nth-child(3) {
    right: -20px;
    z-index: 1;
}

.imgshort img:nth-child(2) {
    right: -40px;
    z-index: 10;
}

.imgshort img:nth-child(1) {
    right: -60px;
    z-index: 11;
}

.fornt {
    text-align: end;
}

.fornt span {
    font-size: 14px;
    font-weight: 400;
    color: #666;
}



.a-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.img-wrap {
    margin-bottom: 30px;
}


.album .btnn:hover {
    background-color: #004cff;
}

.album .btnn {
    height: 70px;
    width: 160px;
    background-color: #000000e2;
    border-radius: 50px;
    border: none !important;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    transition: .8s;
    cursor: pointer;
    margin: auto;
    display: block;
    margin-bottom: 30px;
}





.gallary-item {
    padding: 5%;
}

.gallary-item h2 {
    font-size: 26px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 20px;
}

.item-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.singel-item img {
    width: 260px;
    height: 320px;
    object-fit: cover;
    border-radius: 30px;
}

.item-gallary font p {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}



.tttwrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #666;
}

.tttwrap .ttt h4 {
    font-size: 28px;
    font-weight: 400;
    color: #666;
}

.tttwrap .ttt span {
    font-size: 28px;
    font-weight: 500;
    color: #000000;
}


.tttwrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f-wrap {
    margin-bottom: 30px;
}

.f-wrap form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.f-wrap form input {
    height: 70px;
    width: 440px;
    background-color: #e7e1e1e2;
    border-radius: 50px;
    border: none !important;
    font-size: 18px;
    font-weight: 500;
    color: #000000 !important;
    padding: 0px 26px;
    outline: none;
}

.f-wrap form button:hover {
    background-color: #004cff;
}

.f-wrap form button {
    height: 70px;
    width: 150px;
    background-color: #000000e2;
    border-radius: 50px;
    border: none !important;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    transition: .8s;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}



.footer h2 {
    font-size: 26px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}

.footer p {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 30px;
}



footer {
    padding: 5%;
}

.ft-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1.5px solid #666;
}

.footer-wrap h3 {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 20px !important;
}

.footer-wrap ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    list-style: none;
}

.footer-wrap ul i {
    font-size: 14px;
    margin-bottom: 20px;
    text-decoration: none;
}

.footer-wrap ul a {
    font-size: 14px;
    font-weight: 400;
    margin-left: 0;
    color: #000;
    margin-bottom: 6px;
    text-decoration: none;
}


.footer-botom h2 {
    font-size: 14px;
    font-weight: 400;
    color: #666;
}













@media (max-width: 1200px) {
    header {
        width: 100%;
    }

    .text-wrap {
        width: 100%;
        height: fit-content;
    }

    .form-wrap {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .card-img {
        width: 100%;
        height: fit-content;
    }

    .singel-img {
        width: fit-content;
        height: fit-content;
    }


    .album {
        width: 100%;
        margin: 0;
    }

    .album-wrap {
        width: 100%;
        padding: 0;
    }

    .imgshort {
        width: fit-content;
    }

    .a-wrap {
        width: 100%;
        justify-content: center;
    }

    .img-wrap {
        height: fit-content;
    }

    .btnn {
        height: fit-content;
        width: fit-content;
        margin-bottom: 0;
    }



    .gallary-item {
        width: 100%;
        height: fit-content;
        margin: 0;
        margin-bottom: 0;
    }

    .item-wrap {
        width: 100%;
        margin: 0;
        justify-content: center;
    }

    .singel-item {
        height: fit-content;
        width: fit-content;
    }

    .tttwrap {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .item-gallary {
        width: fit-content;
        height: fit-content;
        margin-bottom: 30px;
    }

    .ttt {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
    }

    .f-wrap {
        width: fit-content;
        height: fit-content;
        padding: 0;
    }




    .footer {
        height: fit-content;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .ft-wrap {
        width: 100%;
    }

    .footer-botom {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}




@media (max-width: 1100px) {
    .header-left {
        display: none;
    }

    .fa-bars {
        display: block !important;
    }

    .logo {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .h1 .span {
        width: fit-content;
        margin: 0;
    }

    .form-wrap {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 20px;
    }

    .form-wrap form {
        width: 450px;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
    }

    .form-wrap .text-t {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: start;
        margin-bottom: 20px;
    }

    .card-img {
        width: 100%;
        margin: 0;
    }

    .system {
        justify-content: center;
    }

    .img-wrap {
        padding: 0;
        margin: 0;
        margin: 0 20px;
        margin-bottom: 30px;
    }

    .album {
        width: 100%;
    }

    .album-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .addtext {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .imgshort {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imgshort .fornt {
        width: 100%;
        text-align: center;
        padding-left: 120px;
    }

    .a-wrap {
        width: 100%;
        justify-content: center;
    }

    .singel-img {
        margin-bottom: 10px;
    }

    .div-wrap {
        margin-bottom: 20px;
    }

    .img-wrap {
        margin-bottom: 30px;
    }


    .a-wrap .btnn {
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
    }


    .gallary-item {
        width: 100%;
    }


    footer {
        width: 100%;
    }

    footer .ft-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .footer-wrap {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
    }

    .footer-wrap ul {
        padding: 0;
        margin: 0;
    }

    .footer-wrap ul li {
        padding: 0;
    }

    .footer-wrap ul a {
        padding: 0;
        margin-left: 0;
    }

    .footer-botom {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}


@media (max-width: 950px) {
    header .logo {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .text-wrap h1 {
        font-size: 50px;
        line-height: 4rem;
        margin-bottom: 60px;
    }

    .text-wrap span {
        font-size: 50px;
    }

    .text-wrap {
        width: 100%;
        margin: 0;
    }

    .text-wrap .h1 .span {
        font-size: 20px;
        font-weight: 400;
    }

    .form-wrap span {
        width: 100%;
    }

    .card-img {
        width: 100%;
    }



    .album {
        width: 100%;
    }

    .album-wrap {
        width: 100%;
    }

    .a-wrap {
        width: 100%;
    }

    .gallary-item {
        width: 100%;
        margin: 0;
    }

    footer {
        width: 100%;
        margin: 0;
    }


    .footer-botom {
        width: 100%;
        margin: 0;
    }
}



@media (max-width: 500px) {
    .f-wrap {
        width: 100%;
    }
    .form-wrap form,
    .f-wrap form {
        width: 100%;
    }

    .form-wrap form input,
    .f-wrap form input {
        width: 100%;
        height: 50px;
    }

    .form-wrap form button,
    .f-wrap form button {
        width: 105px;
        height: 50px;
        font-size: 16px;
    }

    .form-wrap form input::placeholder,
    .f-wrap form input::placeholder {
        font-size: 15px;
    }
}




@media (max-width: 360px) {
    .text-wrap h1 .span {
        font-size: 24px;
    }

    .addtext h2 {
        font-size: 26px;
    }

    .addtext h3 {
        font-size: 26px;
        font-weight: 500;
    }
}





@media (max-width: 330px) {
    .text-wrap h1 {
        font-size: 32px;
        font-weight: 500;
    }
    .text-wrap span {
        font-size: 32px;
        font-weight: 400;
    }

    .shortimg img {
        height: 70px;
        width: 70px;
    }
}